:root{
    --tangerineFixed: #C55420;
}

p {
    font-size: 16px;

}

.citation {
    font-size: 20px;
    font-style: italic;
}

.bgc-atomic-tangerine {
    background-color:var(--tangerineFixed);
}

.tc-white {
    /* color:var(--tangerineFixed)!important; */
    color:white !important;
    /* background-color: #545454; */
}

.bg-presentation {
    background-image: url("../img/image-de-presentation.jpg");
}

.btn-atomic-tangerine {
    background:var(--tangerineFixed);
    color: #FFFFFF!important;
}

.ltc-atomic-tangerine {
    /* color:var(--tangerineFixed)!important; */
    color:white;

}

.bgc-dark-slate-blue {
    background-color: transparent;
}

.texture-paper::before{
    background: initial;
}

.img-responsive {
    margin:auto;
}